a {
    text-decoration: none;
    color: inherit;
}

body {
    background-image: url(assets/bgc-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.MuiToolbar-root {
    background-color: #F7DBA7;
    color: #6F6825;
}